.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    align-content: center;
    text-align: center;
  }
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.footer{
  height:25px;
  width:100%;
  text-align: center;
  background-color: #454d55;
}
.footer small{
  color:white;
  text-align: center;
  line-height:25px;
}

.info{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  margin: 10px;
}
.data{
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-column-gap: 10px;
  grid-template-areas: "helpline helpline statistics statistics statistics"
                        "chart1 chart1 chart1 chart1 chart1"
                        "chart2 chart2 chart2 chart2 chart2"
                        "footer footer footer footer footer";
}
.helpline {
  grid-area:helpline;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.statistics {
  grid-area:statistics;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.chart1 {
  grid-area:chart1;
  margin: 5px;
}
.chart2 {
  grid-area:chart2;
  margin: 5px;
}
.footer {
  grid-area:footer;
  margin: 5px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
  .info{
    grid-template-columns:100%;
  }
  .data{
    grid-template-columns: 1fr;
    grid-template-areas: "helpline"
                          "statistics"
                          "chart1"
                          "chart2"
                          "footer";
  }
}
