<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>

    <div class="container" style="margin-top: 2%;">

        <div class="jumbotron">
            <center>
                <h1>Covid-19 TRACKER</h1>
            </center>
        </div>
        <p style="text-align: justify;">Coronavirus disease (COVID-19) is an infectious disease caused by a newly
            discovered coronavirus.
            Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and
            recover without requiring special treatment. Older people, and those with underlying medical problems like
            cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious
            illness.
            The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease
            it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an
            alcohol based rub frequently and not touching your face.
            The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected
            person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by
            coughing into a flexed elbow).</p>
        <div style="width: 50%; float: left;"></div> <canvas id="myChart1"></canvas>
        <div style="width: 50%; float: left;"></div> <canvas id="myChart2"></canvas>

        <table class=" mytable" >
            
                <tr>
                    <th>Location</th>
                    <th>Confirmed Cases Indian</th>
                    <th>Discharged</th>
                    <th>Deaths</th>
                    <th>Confirmed Cases Foreign</th>
                    <th>Total Confirmed</th>
                </tr>
            
            
        </table>
        <p><b>
                <h4>Last updated <%=data.lastRefreshed %></h4>
            </b></p>
    </div>
    <script>
        // ======================================================================================================================
        var loc = []
        var deaths = []
        var discharged = []
        async function display_myChart1() {
            await fetch("https://api.rootnet.in/covid19-in/stats/latest")
                .then(res => res.json())
                .then((data) => {
                    var i = 0
                    data.data.regional.forEach(function (states) {
                        loc.push(states.loc)
                        deaths.push(parseInt(states.deaths))
                        discharged.push(parseInt(states.discharged))

                        var table = document.getElementsByClassName("mytable")
                        var row = table.insertRow(i);

                        // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
                        var cell5 = row.insertCell(4);
                        var cell6 = row.insertCell(5);

                        // Add some text to the new cells:
                        cell1.innerHTML = states.loc
                        cell2.innerHTML = states.confirmedCasesIndian;
                        cell3.innerHTML = states.discharged;
                        cell4.innerHTML = states.deaths ;
                        cell5.innerHTML = states.confirmedCasesForeign;
                        cell6.innerHTML = states.totalConfirmed ;



                    })
                });
            var ctx = document.getElementById('myChart1').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: loc,
                    datasets: [{
                        label: 'Death Stats',
                        backgroundColor: 'rgb(255, 0, 0)',
                        borderColor: 'grey',
                        data: deaths,
                        fill: false,
                    },
                    {
                        label: 'Recovered Stats',
                        backgroundColor: 'rgb(50, 200, 0)',
                        // borderColor: 'rgb(0, 255, 0)',
                        data: discharged,
                        fill: false,
                    }
                    ]
                },

                // Configuration options go here
                options: {}
            });
        }
        display_myChart1()
        // =======================================================================================================================================               
        var confirmedCasesIndian = []
        var confirmedCasesForeign = []

        async function display_myChart2() {
            await fetch("https://api.rootnet.in/covid19-in/stats/latest")
                .then(res => res.json())
                .then((data) => {
                    data.data.regional.forEach(function (states) {
                        loc.push(states.loc)
                        deaths.push(parseInt(states.confirmedCasesIndian))
                        discharged.push(parseInt(states.confirmedCasesForeign))
                    })
                });
            var ctx = document.getElementById('myChart2').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: loc,
                    datasets: [{
                        label: 'Confirmed Cases Indian',
                        backgroundColor: 'rgb(255, 0, 0)',
                        // borderColor : 'rgb(255, 0, 0 )',
                        data: deaths,
                        fill: false,
                    },
                    {
                        label: 'Confirmed Cases Foreign',
                        backgroundColor: 'rgb(50, 200, 0)',
                        // borderColor: 'rgb(0, 255, 0)',
                        data: discharged,
                        fill: false,
                    }
                    ]
                },

                // Configuration options go here
                options: {}
            });
        }
        display_myChart2()
// ===================================================================================================================================

// ===================================================================================================================================

    </script>
</body>

</html>